<header>
  <h2>Travel in time</h2>
  <h4>and have a marvelious experience</h4>
</header>

<div class="inset" ng-controller="SwitchDemoCtrl" ng-switch>
</div>

<section class='chooser' [class.disabled]="!current">
  <h4>Choose data type</h4>
  <ul>
    <li><button (click)="focusEvents()" [class.active]="active=='events'">Events</button></li>
    <li><button (click)="focusComics()" [class.active]="active=='comics'">Comics</button></li>
    <li><button (click)="focusHeroes()" [class.active]="active=='heroes'">Heroes</button></li>
  </ul>
  <div class='search-group'>
    <input [(ngModel)]="searchTerm" />
    <button (click)="focus(active)">Search</button>
  </div>
</section>

<button (click)="goTop()" class='scroll-top-btn'>TOP</button>
<button (click)="goBottom()" class='scroll-top-btn right'>BOTTOM</button>

<ng-container *ngIf="current; else loadingTemplate">
  <mrv-timeline *ngIf="current; else loadingTemplate" [heroes]="current"></mrv-timeline>
  <div class='bottom-button'>
    <button class='more' (click)="nextLazy()" [class.disabled]="loadLazy">Load more</button>
  </div>
</ng-container>
<ng-container *ngIf="loadLazy"><div class='loading'>Loading...</div></ng-container>
<ng-template #loadingTemplate><div class='loading'>Loading...</div></ng-template>