<mgl-timeline [toggle]="true">
  <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <mrv-hero name="black_panther"></mrv-hero>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content></mgl-timeline-entry-content>
      <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header>
      <mrv-hero name="doctor_strange"></mrv-hero>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content></mgl-timeline-entry-content>
    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header>
      <mrv-hero name="captain_america"></mrv-hero>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content></mgl-timeline-entry-content>
    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
</mgl-timeline-entry>
<mgl-timeline-entry>
  <mgl-timeline-entry-header>
    <mrv-hero name="ironman"></mrv-hero>
  </mgl-timeline-entry-header>
  <mgl-timeline-entry-content></mgl-timeline-entry-content>
  <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
</mgl-timeline-entry>
</mgl-timeline>